.cover__link {
    background-image: url("../../../Images/lead-mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    margin: 0 auto;
    max-width: 92.5vw;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    position: relative;
    height: calc(92.5vw * .625);
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8);
    cursor: pointer;
}

.cover__link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' ';
  }

@media only screen and (max-width: 425px) {

    .cover__link {
        width: calc(100% - 34px);
        margin: 0 auto;
    }
}