@font-face {
    font-family: "Inter Regular";
    src: url("Inter-3.15/Inter-Desktop/Inter-Regular.otf") format("otf"), 
        url("Inter-3.15/Inter-Web/Inter-Regular.woff") format("woff"),
        url("Inter-3.15/Inter-Web/Inter-Regular.woff2") format("woff2"),
        url("Inter-3.15/Inter-Windows/Desktop/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter Bold";
    src: url("Inter-3.15/Inter-Desktop/Inter-Bold.otf") format("otf"), 
        url("Inter-3.15/Inter-Web/Inter-Bold.woff") format("woff"), 
        url("Inter-3.15/Inter-Web/Inter-Bold.woff2") format("woff2"),
        url("Inter-3.15/Inter-Windows/Desktop/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter Black";
    src: url("Inter-3.15/Inter-Desktop/Inter-Black.otf") format("otf"), 
        url("Inter-3.15/Inter-Web/Inter-Black.woff") format("woff"), 
        url("Inter-3.15/Inter-Web/Inter-Black.woff2") format("woff2"),
        url("Inter-3.15/Inter-Windows/Desktop/Inter-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

.page {
    background-color: #2A2C2F;
    font-family: "Inter";
    color: white;
    margin: 0;
}

.header {
    width: calc(100% - 296px);
    margin: 34px auto 50px auto;
    max-width: 984px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin: auto 0 auto 0;
}

.nav-list {
    width: 50%;
    list-style: none;
}

.header__lang-link {
    margin: 0;
    font-size: 24px;
    line-height: 1.16;
    float: right;
    width: 29px;
    height: 28px;
}

.header__lang-link-inside {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: white;
    transition: 0.4s;
}

.header__lang-link-inside:hover {
    border-bottom: 1px solid white;
}

.header__lang-link:last-child{
    margin-right: 18px;
}


.lead {
    width: calc(100% - 296px);
    margin: 0 auto;
    margin-top: 50px;
}

.lead__title {
    margin: 0 auto;
    font-size: 96px;
    font-family: "Inter Black";
    line-height: 1.04;
    text-align: center;
    max-width: 720px;
}

.lead__subtitle {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-top: 32px;
    max-width: 620px;

}

.lead__image-group {
    display: block;
    margin: 0 auto;
    max-width: 984px;
}

.lead__image {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.lead__caption {
    width: 182px;
    height: 14px;
    font-size: 10px;
    line-height: 1.4;
    margin-top: 5px;
}

.intro {
    width: calc(100% - 296px);
    margin: 114px auto 0 auto;
    max-width: 984px;
}

.intro__container {
    display: block;
    width: 690;
    max-width: 690px;
}

.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin: 0 auto;
    margin-bottom: 40px;
}

.intro__text {
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 32px;
}

.intro__paragraph {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 34px;
}

.intro__list {
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
}

.photo-grid {
    width: calc(100% - 96px);
    max-width: 1184px;
    margin: 92px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

.photo-grid__item {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.places {
    width: calc(100% - 296px);
    margin: 0 auto;
}

.place {
    margin: 92px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 32px;
    max-width: 984px;
}

.place__title {
    margin: 0;
    font-family: "Inter Black";
    font-size: 72px;
}

.place__website {
   margin-bottom: 0;
   align-self: end;
}

.website__url-heading {
    margin: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1.6;
    color: #AAAAAA;
}

.website__link {
    border-bottom: 1px solid white;
    color: white;
    align-self: end;
    transition: 0.4s;
    text-decoration: none;
}

.website__link:hover {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.place__image {
    width: 100%;
} 

.place__paragraph {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 27px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

.cover {
    width: calc(100% - 96px);
    max-width: 1184px;
    margin: auto;
    background-image: url("Images/cover-route-66.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
    transition: background-color 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    overflow: hidden;
}

/* .cover:hover {
    background-color: rgba(42, 44, 47, 0.7);
    cursor: pointer;
}

.cover:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
  } */

.cover__text {
    border: 1px solid red;
}

.cover__title {
    font-family: "Inter Black";
    font-size: 72px;
    line-height: 1;
    text-align: center;
    color: #FFFDFD;
    margin: 0 auto;
    width: 656px;
    border: 1px solid blue;
}

.cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    margin-top: 32px;
    border: 1px solid blue;
}


.footer {
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px auto;
    max-width: 1184px;
}

.footer__links {
    width:50%;
    
}

.footer__link {
    font-size: 16px;
    line-height: 1.125;
    margin-right: 1.7%;
    color: white;
    text-decoration: none;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    font-size: 14px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: right;
}





@media only screen and (max-width: 1024px) /* 769-1024 */ {

    .header{
        width: calc(100% - 96px);
    }

    .lead {
        width: calc(100% - 96px);
    }

    .intro {
        width: calc(100% - 96px);
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
    }

    .places{
        width: calc(100% - 96px);
    }

    .cover {
        width: 100%;
    }
} 






@media only screen and (max-width: 768px) /* 426-768 */ {
    .header{
        width: calc(100% - 48px);
    }

    .lead {
        width: 100%
    }
    
    .lead__caption {
        margin-left: 5%;
    }

    .intro {
        width: calc(100% - 48px);
        margin: 110px auto 0 auto;
    } 

    .photo-grid {
        width: calc(100% - 48px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 88px auto;
        grid-gap: 16px;
    }

    .places{
        width: calc(100% - 48px);
    }


    .place {
        margin: 88px auto;
    }

    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }

    .website__url-heading {
        line-height: 1;
    }

    .place__paragraph {
        font-size: 16;
        line-height: 1.6
    }

    .footer{
        width: calc(100% - 48px);
    }
    

} 


@media only screen and (max-width: 600px) {
    .places {
        width: 100%;
    }

    .place {
        grid-template-columns: 1fr;
        margin: 48px auto;
        grid-row-gap: 30px;
    }

    .place__website {
        margin: 0 auto;
        width: calc(100% - 32px);
    }

    .place__title {
        margin: 0 auto;
        width: calc(100% - 32px);
    }

    .place__paragraph {
        margin: 0 auto;
        width: calc(100% - 32px);
    }
}



  @media only screen and (max-width: 425px) /* 0-425 */ {

    .header{
        width: calc(100% - 32px);
    }

    .logo {
        width: 156px;
    }

    .nav-list {
        padding: 0;
    }

    .lead__title {
        width: 90%;
        font-size: 40px;
        line-height: 1;
    }

    .lead__subtitle {
        width: 90%;
        font-size: 16px;
        line-height: 1.25;

    }

    .intro {
        width: calc(100% - 32px);
        margin-top: 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 1.1;
    }

    .intro__subtitle {
        font-size: 24px;
        line-height: 1.25;
    }

    .photo-grid {
        width: calc(100% - 32px);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-row-gap: 12px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .place__title {
        font-size: 32px;
        line-height: 1.1;
    }
    

    .cover {
        margin: 64px auto;
    }

    .cover__text {
        width: calc(100% - 32px)
    }

    .cover__title {
        font-size: 32px;
        line-height: 1.1;
        width: 100%;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 1;
        width: 100%;
    }

    .footer {
        display: grid;
        margin-top: 64px;
        width: calc(100% - 32px);
        margin-left: 5%;
    }

    .footer__link {
        float: left;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 0;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 1;
        width: 100%;
        margin-top: 48px;
        text-align: left;
    }
}