.lead__image {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
}

 /* background-image: url("../../../Images/lead-mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */