.place__website-link {
    border-bottom: 1px solid white;
    color: white;
    align-self: end;
    transition: 0.4s;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}

.place__website-link:hover {
    border-bottom: 1px solid transparent;
    cursor: pointer;
}